@model IEnumerable<FaturaGiderSistemi.Models.Sirket>

@{
    ViewData["Title"] = "Şirketler";
}

<div class="d-flex justify-content-between mt-4">
    <h2>Şirket Listesi</h2>
    <a asp-action="Create" class="btn btn-primary">+ Yeni Şirket Ekle</a>
</div>

<table class="table table-striped mt-3">
    <thead>
        <tr>
            <th>Şirket Adı</th>
            <th>Vergi No</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td class="fw-bold">@item.Ad</td>
                <td>@item.VergiNo</td>
            </tr>
        }
    </tbody>
</table>